@import "../common/mixins.scss";

.catalog {
  padding: 50px 20px 44px;
  background-color: $lightest-grey;

  @include tablet {
    padding: 80px 0 90px;
  }

  @include desktop {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.catalog__heading {
  margin-bottom: 20px;
  text-align: center;

  @include desktop {
    margin-bottom: 36px;
  }
}

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  @include desktop {
    flex-direction: row;
    column-gap: 30px;
  }
}

.catalog__form {
  display: flex;
  flex-direction: column;

  @include desktop {
    min-width: 318px;
  }
}

.catalog__buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include tablet {
    margin-top: 40px;
    flex-direction: row;
    justify-content: center;
  }
}

.catalog__button {
  @include desktop {
    flex: 1;
  }
}


.catalog__products-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @include tablet {
    row-gap: 26px;
  }

  @include desktop {
    flex-grow: 1;
  }
}

.catalog__dropdown-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 8px;

  @include tablet {
    justify-content: flex-end;
    column-gap: 10px;
  }
}

.catalog__dropdown-description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.catalog__pagination {
  margin-top: 40px;
  display: flex;
  justify-content: center;

  @include tablet {
    margin-top: 70px;
    justify-content: end;
  }

  @include desktop {
    margin-top: 60px;
  }
}
